!!! 5
%html
  %head
    %title= "TweetCompete Live"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %link{ rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"}
    %link{ rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" }
    %link{ rel: "stylesheet", href: "/css/site.css" }

  %body
    .jumbotron
      .container
        %h1
          %a{ href: "/"} TweetCompete Live
        %p
          Watch the retweets of the competition tweets, Live!

    .container
      .col-md-4
        .number-shoutout
          .number#retweet-count -
          %h2 Retweets

      .col-md-4
        .number-shoutout
          .number#follower-count -
          %h2 Followers

      .col-md-4
        .number-shoutout
          .number= @tweet_count
          %h2 Compo Tweets
          %a{ href: "/tweets" }edit

      %hr

      .col-md-6
        %h2 Retweet Stream

        #tweets

      .col-md-6
        %h2 Follower Stream

        #followers
          %p
            Follow streams aren't supported yet :(


    %script{ src: "//code.jquery.com/jquery.js" }
    %script{ src: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" }
    %script{ src: "/js/twitter-compete.js" }